.charts
{
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    & .tick
    {
        font-size: 15px;
    }
    & .tick line
    {
        stroke-width: 1px;
        stroke: #000;
    }
    &__select
    {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        &_type_impulse
        {
            width: 150px;
            right: 20;
        }
        &_type_metric
        {
            width: 150px;
            right: 190px;
        }
    }
    &__toggle
    {
        width: 80px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        & + &
        {
            left: 100px;
        }
    }
    &__controls
    {
        position: relative;
        height: 80px;
    }
}
